@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
body {
    background-color: #D1D8EC;
}

#maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #D1D8EC;
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    text-align: center;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

#maindiv > table {
    width: 100%;
    height: 100%;
}

#maindiv > table > table {
    width: 100%;
    height: 100%;
}

input {
    text-align: center;
    margin-top: 5%;
    width: 90%;
    height: 50px;
    font-size: 20px;
    /* background-color: transparent; */
    border: none;
    border-radius: 25px;
    font-family: 'Varela Round', sans-serif;
    /* cursor: pointer; */
    border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

input[type="submit"] {
    /* padding: 1%; */
    font-size: 20px;
    background-color: lightskyblue;
    /* border: 1px solid black; */
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 49px #bebebe,
                -20px -20px 49px #ffffff;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
}
/* input[type="password"] {
    text-align: center;
    width: 80%;
} */