@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
body {
    background-color: #D1D8EC;
}

#maindiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #9fc7e7;
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow:  14px 14px 28px #5a5a5a,
             -14px -14px 28px #ffffff;
    text-align: center;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

#maindiv > table {
    width: 100%;
    height: 100%;
}

#maindiv > table > table {
    width: 100%;
    height: 100%;
}

input {
    text-align: center;
    margin-top: 5%;
    width: 90%;
    height: 50px;
    font-size: 16px;
    /* background-color: transparent; */
    border: none;
    border-radius: 15px;
    font-family: 'Varela Round', sans-serif;
    /* cursor: pointer; */
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 11px 11px 22px #949494,
            inset -11px -11px 22px #ffffff;
    outline: #47a2ec;
}

input[type="submit"] {
    font-size: 16px;
    border-radius: 50px;
    background: #47a2ec;
    box-shadow:  5px 5px 10px #5a5a5a,
             -5px -5px 10px #ffffff;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    transition: 0.3s linear;
}

input[type="submit"]:active {
    transform: translateY(2px);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}

a {
    text-decoration: none;
}