@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&family=Varela+Round&display=swap');
body {
    font-family: 'Varela Round', sans-serif;
}

#header {
    background-color: aquamarine;
    text-align: center;
    border-radius: 15px;
}

#header > div {
    width: 100%;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
}

#header > #h1 > img {
    height: 50px;
    width: 10px;
}

#mentor_part {
    position: absolute;
    top: 35%;
    left: 25%;
    margin-top: -200px;
    margin-left: -200px;
    height: 600px;
    width: 1100px;
    border-radius: 15px;
    display: none;
    background-color: chartreuse;
}

button {
    height: fit-content;
    width: fit-content;
    font-size: 16px;
    background: #3f7f6a;
    color: yellow;
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
    box-shadow:  5px 5px 9px #5a5a5a,
             -5px -5px 9px #ffffff;
    font-family: 'Varela Round', sans-serif;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

#getdetail {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    height: fit-content;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    display: none;
    font-family: 'Varela Round', sans-serif;
    /* border-color: black; */
}

#detailtable {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

input[type=text] {
    width: max-content;
}